div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body{
	color: #fff;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.animate__animated{
	opacity: 0;
}

.header{
	background: #4ab8f8;
	padding-bottom: 105px;
}

.container{
	/*overflow: hidden;*/
	width: 1170px;
	margin: 0 auto;
}

.logo{
	margin-top: 60px;
	width: 100px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.h1{
	font-family: "Ubuntu";
	font-weight: 900;
	font-size: 37px;
	line-height: 49px;
	width: 560px;
	margin-bottom: 50px;
}

.h1 span{
	font-size: 59px;
}

.under-h1{
	width: 400px;
	font-size: 16px;
	font-family: "Open Sans";
	line-height: 27px;
	margin-bottom: 50px;
}

.btn{
	color: #000;
	background: #ffd429;
	text-decoration: none;
	font-family: "Montserrat";
	font-weight: 900;
	padding: 25px;
	font-size: 15px;
}

.h2{
	color: #000;
	text-align: center;
	font-size: 30px;
	font-family: "Ubuntu";
	font-weight: 900;
}

.h2-cont{
	margin-bottom: 70px;
}

.h3{
	color: #000;
	font-family: "Ubuntu";
	font-weight: 900;
	text-align: center;
}

.under-h3{
	font-family: "Ubuntu";
	font-size: 15px;
	color: #000;
	text-align: center;
}

.item{
	width: 300px;
	text-align: center;
}

.list-img{
	margin-bottom: 35px;
}



input{
	display: block;
}

.form{
	width: 375px;
	margin: 0 auto;
}

.input-text{
	font-family: "Ubuntu";
	font-size: 15px;
	padding-left: 15px;
	width: 345px;
	height: 45px;
	margin-bottom: 15px;
}

.input-btn{
	width: 345px;
	padding-bottom: 15px;
	padding-top: 15px;
	border: none;
}

.main-form{
	padding-bottom: 125px;
	padding-top: 110px;
}

.footer{
	background: #164d7a;
}

.credits{
	padding: 65px 0;
	text-align: center;
	font-size: 14px;
	font-family: "Open Sans";
	margin: 0;
}

.inputs{
	background: #ecf3f8;
	border: 1px solid #000;
	padding: 110px 0;
}

.form-inputs{
	padding: 100px 0;
	background: #ecf3f8;
}


/* Responsive */

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container{
		width: 960px;
	}
	.first-adaptive-wrapper{
		flex-direction: column;
	}
	.logo{
		display: block;
		margin: 0 auto 30px;
		padding-top: 60px;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container{
		width: 720px;
	}

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container{
		width: 540px;
	}
	.incolumn-img{
		width: 100%
	}
	.wrapper{
		flex-direction: column;
	}
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container{
		width: 90%;
	}
	.h1{
		width: auto;
	}
	.under-h1{
		width: auto;
	}
	.form{
		width: auto;
	}
	.column-img{
		margin-top: 40px;
	}
	.input-text{
		width: 100%;
	}
	.input-btn{
		width: 100%;
	}
}