div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

body{
	color: #fff;
}

.header{
	background: #4ab8f8;
	margin-bottom: 105px;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.logo{
	margin-top: 60px;
	margin-bottom: 148px;
	width: 100px;
}

.wrapper{
	display: flex;
	justify-content: space-between;
}

.h1{
	font-family: "Ubuntu";
	font-weight: 900;
	font-size: 37px;
	line-height: 49px;
	width: 560px;
	margin-bottom: 50px;
}

.h1 span{
	font-size: 59px;
}

.under-h1{
	width: 400px;
	font-size: 16px;
	font-family: "Open Sans";
	line-height: 27px;
	margin-bottom: 50px;
}

.btn{
	color: #000;
	background: #ffd429;
	text-decoration: none;
	font-family: "Montserrat";
	font-weight: 900;
	padding: 25px;
	font-size: 15px;
}

.h2{
	color: #000;
	text-align: center;
	font-size: 30px;
	font-family: "Ubuntu";
	font-weight: 900;
}

.h2-cont{
	margin-bottom: 70px;
}

.h3{
	color: #000;
	font-family: "Ubuntu";
	font-weight: 900;
	text-align: center;
}

.under-h3{
	font-family: "Ubuntu";
	font-size: 15px;
	color: #000;
	text-align: center;
}

.item{
	width: 300px;
}

.list-img{
	margin-left: 120px;
	margin-bottom: 35px;
}

.swb{
	margin-bottom: 225px;
}

input{
	display: block;
}

.bf{
	width: 375px;
	margin: 0 auto;
}

.input-text{
	font-family: "Ubuntu";
	font-size: 15px;
	padding-left: 15px;
	width: 345px;
	height: 45px;
	margin-bottom: 15px;
}

.input-btn{
	width: 345px;
	padding-bottom: 15px;
	padding-top: 15px;
	border: none;
}

.main-form{
	margin-bottom: 100px;
}

.footer{
	background: #164d7a;
}

.credits{
	padding: 65px 0;
	text-align: center;
	font-size: 14px;
	font-family: "Open Sans";
}