// RESET
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol,
ul,
menu {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
:focus {
    outline: 0;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// FONTS
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

// ОСНОВЫ
body {
    overflow-x: hidden;
    &.active {
        overflow: hidden;
    }
}
.jc-wrapper {
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
}
.aic {
    display: flex;
    align-items: center;
}

//Вёрстка HEADER
.header {
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    &.up {
        top: 0;
        transition: 0.3s;
        .burger {
            transition: 0.3s;
            top: 25px;
        }
    }
    &.down {
        top: -100%;
        transition: 1.2s;
        .burger {
            transition: 1.2s;
            top: -100%;
        }
    }
}
.header-menu {
    li {
        margin-left: 20px;
        text-transform: uppercase;
        transition: 0.3s;
        padding: 14px 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        a {
            text-decoration: none;
            font-family: Raleway;
            font-size: 18px;
            letter-spacing: -0.025em;
            color: #8e8e8e;
            transition: 0.3s;
        }
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 95%;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 1px;
            background-color: #000;
            transition: .3s;
        }
        &:hover {
            a {
                color: #000;
            }            
            &:after {
                width: 80%;
            }
        }
    }
}

li.active {
    position: relative;
    a {
        font-size: 20px;
        letter-spacing: 0.1em;
        color: #000;
        font-weight: 600;
    }
}

// Вёрстка первой секции
.section-1 {
    height: 100vh;
    background: #000 url(../img/main-bg.jpg) center / cover no-repeat fixed;
}
.pc {
    background: #000 url('../img/pc.jpg') center / cover no-repeat fixed;
}
.upper-main {
    padding-top: 45vh;
    font-family: Montserrat;
    font-size: 20px;
    letter-spacing: -0.025em;
    color: #ffffff;
    text-align: center;
    padding-bottom: 30px;
}
.main {
    font-family: Montserrat;
    font-size: 55px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
}

.section-1-btn {
    padding-top: 65px;
    text-align: center;
    :hover {
        cursor: pointer;
        background-color: darken(#fa5c58, 10%);
    }
}
.red-explore {
    position: relative;
    top: 0;
    right: 0;
    transition: 0.3s;
    // transition: background-color 0.5s;
    font-family: Montserrat;
    font-size: 15px;
    letter-spacing: -0.025em;
    color: #ffffff;
    border-radius: 30px;
    background-color: #fa5c58;
    padding: 20px 70px;
    border: none;
    outline: none;
    text-align: center;
    text-decoration: none;
    &:hover {
        // top: -1px;
        // right: -2px;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, .4);
    }
}
.burger {
    position: relative;
    display: none;
    &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        top: -8px;
        left: -20px;
        transition: 0.2s 0.4s;
    }
    &:after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        top: 8px;
        left: -20px;
        transition: 0.2s 0.4s;
    }
}
.burger span {
    width: 30px;
    display: block;
    height: 2px;
    background-color: #000;
    position: absolute;
    top: 0;
    left: -20px;
    transition: 0.2s 0.4s;
}

// Вёрстка второй секции

.section-2-container {
    padding-top: 100px;
    min-height: 92vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.section-2 {
    position: relative;
}

.arrow-wrapper,
.arrow-wrapper_f {
    display: flex;
    position: absolute;
    bottom: 5%;
    width: 50px;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    justify-content: center;
}

.arrow,
.arrow_f {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    animation: sc 1.5s infinite 1s;
    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.85);
        animation-play-state: paused;
        // transform: scale(1.1);
    }
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        left: 40%;
        transform: translateX(-50%) rotate(45deg);
        background-color: #fff;
        width: 15px;
        height: 2px;
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        width: 100%;
        left: 60%;
        transform: translateX(-50%) rotate(-45deg);
        background-color: #fff;
        width: 15px;
        height: 2px;
    }
}

@keyframes sc {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.main-design {
    flex: 1 1 auto;
}

.design-text {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #131316;
    text-align: center;
}

.under-design {
    padding-top: 35px;
    font-family: Raleway;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #8e8e8e;
    text-align: center;
    max-width: 550px;
    margin: 0 auto;
}

.wrapper-under {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 33.333%;
    align-items: flex-end;
}
.design-h3 {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: -0.025em;
    color: #131316;
    text-align: right;
}
.block-wrapper {
    padding: 60px;
    padding-left: 0;
    display: flex;
    &_2 {
        padding-left: 60px;
        padding-right: 0;
        .icon {
            order: -1;
            margin-left: 0;
            margin-right: 50px;
        }
        .under-design-h3 {
            text-align: left;
        }
        .design-h3 {
            text-align: left;
        }
    }
}
.under-design-h3 {
    padding-top: 20px;
    font-family: Raleway;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    letter-spacing: -0.025em;
    color: #8e8e8e;
    text-align: right;
}
.icon {
    margin-left: 50px;
    padding: 25px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
}
// Вёрстка третей секции

.section-3 {
    background: #fff url(../img/second-bg.jpg) 0 0 / cover no-repeat fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-video {
    padding: 150px 0;
    align-items: center;
    width: 1300px;
    height: 600px;
}

.video {
    width: 100%;
    height: 100%;
}

// Вёрстка четвёртой секции
.section-4 {
    padding-bottom: 80px;
}
.section-4-block-text {
    padding-top: 100px;
}
.section-4-container {
    text-align: center;
}
// Вёрстка footer
.slick-prev {
    border: none;
    font-size: 0;
    position: absolute;
    background: url(../img/arrow.png) center / 100% no-repeat;
    left: 40%;
    top: 110%;
    z-index: 5;
    width: 30px;
    height: 45px;
    transform: scale(-1, 1) translateX(50%);
    cursor: pointer;
}
.slick-next {
    border: none;
    font-size: 0;
    position: absolute;
    background: url(../img/arrow.png) center / 100% no-repeat;
    top: 110%;
    right: 40%;
    transform: translateX(50%);
    z-index: 5;
    width: 30px;
    height: 45px;
    cursor: pointer;
}
.not-footer-wrapper {
    display: flex;
    flex-direction: column;
}

.footer {
    background: url('../img/main-bg.jpg') top / cover no-repeat fixed;
    position: relative;
}
.main-text {
    padding-top: 10px;
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    line-height: 70px;
    color: #ffffff;
    padding-bottom: 5px;
}
.arrow-wrapper_f {
    left: 50%;
    bottom: 5%;
    transform: rotate(180deg) translateX(50%);
}

.main-icons-footer-wrapper {
    margin: 0 auto;
    display: flex;
    width: 240px;
    justify-content: space-between;
    padding-bottom: 75px;
}
.wrapper-btns-section-4 {
    display: inline-flex;
    margin: 0 auto;
    margin-top: 90px;
}
.switch-btn {
    margin-right: 50px;
    font-family: Raleway;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #131316;
    padding: 10px 25px;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #121215;
    transition: 0.1s;
    &.active {
        background-color: #fa5c58;
        border: none;
        color: #fff;
    }
    &:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    &:last-child {
        margin-right: 0;
    }
}
// Вёрстка swiper section
.swiper-section {
    padding-bottom: 100px;
}
.design,
.web,
.photo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.swiper-item {
    img {
        max-width: 100%;
    }
    width: 100px;
    flex: 1 1 25%;
    margin-right: 15px;
    margin-bottom: 30px;
}
.design,
.web,
.photo {
    display: none;
    &.active {
        display: flex;
    }
}

.block-text-want p {
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.025em;
    color: #131316;
    text-align: center;
}
.block-text-want {
    padding-top: 160px;
}

.want-btn {
    padding: 16px 27px;
    font-size: 42px;
    font-weight: 800;
    background-color: #fa5c58;
    border-radius: 50%;
    color: #000;
    text-decoration: none;
    transition: .3s;
    &:hover {
        background-color: #ff3532;
    }
}
.want-btn-section {
    text-align: center;
    padding-top: 50px;
}

.swiper-item {
    cursor: pointer;
    position: relative;    
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1000;
        transition: .3s;
    }
    &:hover {
        img {
            filter: blur(10px);
        }
    }
    &:hover:after {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.644);
        z-index: 1000;
    }
    &:before {
        content: 'Перейти';
        text-align: center;
        line-height: 100px;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 0px;
        height: 100px;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        background-color: rgba(255, 255, 255, 0);
        z-index: 1001;
        transition: .1s;
    }
    &:hover:before {
        content: 'Перейти';
        text-align: center;
        line-height: 100px;
        font-family: Montserrat;
        font-weight: 800;
        font-size: 20px;
        height: 100px;
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        position: absolute;
        background-color: rgba(255, 255, 255, 0.815);
        z-index: 1001;
    }
}

.under-main {
	font-size: 20px;
	color: #ccc;
	text-align: center;
	margin: 0 auto;
	font-family: Raleway;
	padding-top: 35px;
	width: 60%;
	line-height: 35px;			
}
.main-form {
    padding-top: 90px;
    display: flex;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    * {
        border: none;
        border-radius: none;
        background-color: #f3f3f3;
        padding: 15px 25px;
        justify-content: space-between;
        margin-bottom: 20px;
        font-family: Raleway;
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        letter-spacing: -0.025em;
        color: #8e8e8e;
        resize: none;
    }
}

.name, .email {
    flex: 1 1 40%;
}
.name {
    margin-right: 30px;
}
.subject, .textarea, .submit {
    flex: 1 1 100%;
}
.submit {
    background-color: #fa5c58;
    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.025em;
    color: #ffffff;
    transition: .3s;
    &:hover {
        cursor: pointer;
        background-color: #ff4946;
    }
}
.connection-wrapper {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 80px;
}
.item {
    flex: 1 1 33.333%;
    padding-bottom: 100px;
    &:hover {
        cursor: pointer;
    }
    img {
        padding: 25px;
        border-radius: 50%;
        background-color: #fa5c58;
        transition: .3s;
        &:hover {
            background-color: #fc4441;
        }
    }  
    p {
        padding-top: 20px;
        font-family: Montserrat;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: -0.025em;
        color: #000000;
    }
}

/* Responsive */
/* 992px - 1200px */
@media screen and (max-width: 1200px) {
    .container {
        width: 960px;
    }
    .header-menu li {
        margin-left: 0;
    }
    .section-2-container {
        min-height: 100vh;
    }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
    .container {
        width: 720px;
    }
    .aic {
        .navigation {
            order: -1;
        }
    }
    .logo {
        height: 45px;
        & img {
            height: 100%;
        }
    }
    .name {
        margin-right: 0;
    }
    .main-form {
        flex-direction: column;
    }
    .burger {
        display: block;
        position: fixed;
        top: 25px;
        left: 10%;
        cursor: pointer;
        z-index: 1;
        span {
            animation: burr 0.6s forwards;
        }
        &:before {
            animation: beff 0.3s forwards, beff1 0.3s forwards 0.3s;
        }
        &:after {
            animation: aftt 0.3s forwards, aftt1 0.3s forwards 0.3s;
        }
    }
    @keyframes burr {
        0% {
            opacity: 0;
        }
        50% {
            background-color: #fff;
            opacity: 0;
        }
        100% {
            background-color: #000;
            opacity: 1;
        }
    }
    @keyframes beff {
        0% {
            background-color: #fff;
            top: 0;
            transform: rotate(45deg);
        }
        100% {
            background-color: #fff;
            top: 0;
            transform: rotate(0deg);
        }
    }
    @keyframes beff1 {
        0% {
            top: 0;
        }
        100% {
            top: -8px;
            background-color: #000;
        }
    }
    @keyframes aftt {
        0% {
            background-color: #fff;
            top: 0;
            transform: rotate(-45deg);
        }
        100% {
            background-color: #fff;
            top: 0;
            transform: rotate(0deg);
        }
    }
    @keyframes aftt1 {
        0% {
            top: 0;
        }
        100% {
            top: 8px;
            background-color: #000;
        }
    }

    .burger.active {
        span {
            animation: bur 0.3s forwards;
        }
        &:before {
            animation: bef 0.3s forwards, bef1 0.3s forwards 0.3s;
        }
        &:after {
            animation: aft 0.3s forwards, aft1 0.3s forwards 0.3s;
        }
    }
    @keyframes bur {
        100% {
            opacity: 0;
        }
    }
    @keyframes bef {
        100% {
            top: 0;
            background-color: #fff;
        }
    }
    @keyframes aft {
        100% {
            top: 0;
            background-color: #fff;
        }
    }

    @keyframes bef1 {
        100% {
            transform: rotate(45deg);
        }
    }
    @keyframes aft1 {
        100% {
            transform: rotate(-45deg);
        }
    }
    .header-menu {
        padding: 90px 0 0 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: -3vh;
        left: -112vw;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.65);
        transition: 0.5s;
        overflow: auto;
        li {
            width: 30vw;
            margin: 0 auto;
            :hover {
                color: #fff;
            }
            a {
                color: #fff;
                font-size: 20px;
            }
            &.active a {
                font-weight: 600;
            }
        }
    }
    .header-menu.active {
        left: 0;
    }
    .phone-block {
        display: none;
    }
}
/* 576px - 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }
    .switch-btn {
        margin-right: 20px;
    }
    .wrapper-under {
        flex-direction: column;
    }
    .block-wrapper {
        padding: 0;
        padding-bottom: 50px;
    }
    .icon {
        order: -1;
        margin-left: 0;
        margin-right: 50px;
    }
    .connection-wrapper {
        flex-direction: column;
    }
    .design-h3 {
        text-align: left;
    }
    .under-design-h3 {
        text-align: left;
    }
    .arrow-wrapper,
    .arrow-wrapper_f {
        display: none;
    }
    .section-3-video {
        height: 400px;
    }
    .main-icons-footer-wrapper {
        padding-bottom: 30px;
    }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
    .header {
        padding: 0;
    }
    .under-main {
		font-size: 15px;
		width: 100%;
	}
    .main {
        font-size: 32px;
    }
    .wrapper-btns-section-4 {
        flex-direction: column;
        margin-top: 0;
    }
    .red-explore {
        padding: 20px 50px;
    }
    .switch-btn {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .container {
        width: 90%;
    }
    .section-1 {
        background: #000 url(../img/main-bg.jpg) center / cover no-repeat scroll;
    }
    .footer {
        background: url('../img/main-bg.jpg') top / cover no-repeat scroll;
    }
    .pc {
        background: #000 url(../img/pc.jpg) center / cover no-repeat scroll;
    }
    .section-3 {
        background: #fff url(../img/second-bg.jpg) 0 0 / cover no-repeat scroll;
    }
    .section-4 {
        padding-bottom: 0px;
    }
    .under-design {
        margin-bottom: 50px;
    }
    .upper-main {
        padding-top: 35vh;
    }
    .section-3-video {
        height: 280px;
        padding: 100px 0;
    }
    .main-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main-icons-footer-wrapper {
        padding-bottom: 30px;
    }
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 10px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: #50665c;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #5cd49c;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #4cad80;
}
